div{
        
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}
button{
    width: 40px;
    height: 30px;
    border-style: outset;
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
}
button:hover{
    border-style: groove;
}
.interface{
    background-color: rgba(255, 255, 255, .8);
    width: 337px;
    height: fit-content;
    border-radius: 7px;
    overflow: auto;
}
#in{
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
}
#out{
    text-align: right;
    padding-top: 4px;
    padding-right: 10px;
}


body {
background-image: linear-gradient(111deg,#4d5f7b,#5da33a);
background-size: cover;
background-attachment: fixed;
overflow: scroll;
}

.interface{
    text-align: right;
    border-style: inset;
    min-height: 30px;
    margin: 3px;
    border: 2px;
}