div#calculator{
    margin-top: 20%;
    display: inline-block;
    align-self: center;   
}
button{
    width: 40px;
    border-color: #6b6b6b;
    height: 30px;
    font: bolder;
    border-style: outset;
    color: white;
    background-color: rgba(255, 255, 255, 0.01);
}
button:hover{
    border-style: groove;
}
.interface{
    background-color:  #15171b;
    color: white;
    width: 337px;
    height: fit-content;
    
    overflow: auto;
}
#in{
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#out{
    text-align: right;
    padding-top: 4px;
    padding-right: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}


body {
    
background-image: linear-gradient(111deg,#272f3a,#162456);
background-size: cover;
background-attachment: fixed;
overflow: scroll;
}

.interface{
    text-align: right;
    border-style: inset;
    min-height: 30px;
    margin: 0px;
    border: 2px;
}

#namePlate{

    margin-left: 15%;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 5%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform-style: preserve-3d;
    
    animation: nameplateRotation 12s linear infinite;
    
}
#nameplate:hover{
    animation-play-state: paused;
}

@keyframes nameplateRotation{
    0%{
        transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateZ(360deg) rotateX(360deg) rotateY(1080deg);
    }
}

#namePlate>div{
    border-color: #162456;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    
    transform-style: preserve-3d;
    
}
#namePlate>div#branch{
    background-color: #EEA47FFF;
    transform:  translateX(50px) translateZ(-50px) rotateY(90deg);
}
#namePlate>div#name{
    background-color: #EEA47FFF;
        
}
#namePlate>div#roll{
    background-color: #EEA47FFF;
    transform:  translateX(-50px) translateZ(-50px) rotateY(-90deg);
}
#extra{
    background-color: #EEA47FFF;
    transform: translateZ(-100px) rotateY(180deg);
}
#cap{
    background-color: #EEA47FFF;
    transform: translateY(50px) translateZ(-50px) rotateX(-90deg);
}
#floor{
    background-color: #EEA47FFF;
    transform: translateY(-50px) translateZ(-50px) rotateX(90deg);
}
.column1{
    
    float: left;
    width: 50%;
}
.column2{
    
    float: right;
    width: 50%;
}
